.left_block{
    width: 500px;
    border: 1px solid darkorange;
    height: 1000px;

}

.db_title{
    padding-top: 20px;
    text-align: center;
    font-size:28px;
}

.tables_title{
    padding-top: 30px;
    padding-left: 20px;
    font-size: 24px;
}

.all_tables_list{
    padding-top: 10px;
    padding-left: 30px;

}

.table_input{
    margin-top: 5px;
    font-size: 23px;

}

body{
    background-color: white;
}