.div_inline{
    display: inline-block;
}

.left_block{
    width: 500px;
    border: 1px solid darkorange;
    height: auto;
}

.db_title{
    padding-top: 20px;
    text-align: center;
    font-size:28px;
}

.tables_title{
    padding-top: 30px;
    padding-left: 20px;
    font-size: 24px;
}

.all_tables_list{
    padding-top: 10px;
    padding-left: 30px;
    height: 950px;
    background-color: lightgray;
}

.table_choose_button{
    margin-top:10px;
}

.right_block{
    vertical-align: top;
    border: 1px solid hotpink;
    width:1000px
}

.role_title{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 23px;
}

.table_data{
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    height: 300px;
    width: 400px;
    border: 1px solid darkblue;
}

.table_view{
    padding-top: 15px;
}

.table_input{
    margin-top: 5px;
    font-size: 23px;
}

.table_inputs{
    padding-top: 10px;
    padding-left: 10px;
    height: 300px;
    width: 400px;
    border: 1px solid chartreuse;
}



.add_button{
    margin-top: 20px;
    margin-left: 20px;
}

.buttons{
    margin-left: 10px;
}

.table_item{

}

.flash.success{
    padding-top: 10px;
    padding-left: 10px;
    width: 300px;
    background-color: darkseagreen;
}

.table_name_title{
    font-size: 22px;
}

.id_row_title{
    font-size: 22px;
}

body{
    background-color: white;
}